<!doctype html>
<html lang="en">
  <body>
    <div class="index">
        <div class="navh">
            <span class="title">服务器入侵检测警报系统</span>
        </div>
        <div class="maincontent">
            {% block content %}{% endblock %}
        </div>
        <div class="log">
            <a href="https://shaobo.fun/#/login" class="login">登录</a>可以查看更加详细内容哟
        </div>
    </div>
  </body>
</html>
          
<style>
.index{
    margin: 20px 20%;
    box-shadow: 1px 1px 5px #333;
    overflow: hidden;
}
.navh{
    background: #333;
    padding: 10px;
}
.title{
    color: #ffffff;
    font-size: 23px;
}
.maincontent{
    padding: 40px;
}
.log{
    float: right;
    margin: 10px;
    margin-right: 30px;
    color: #007bff;
}
</style>
        
        